$tables-colors-support-parser: (
    border-color: 'color',
) !default;

$tables-colors-support-extra-colors-palette: () !default;
$tables-colors-support-skip-colors-palette: null !default;

//Caption
$caption-colors-support-parser: (
    color: 'color'
) !default;

//Tr
$tr-colors-support-parser: (
) !default;

//Th
$th-colors-support-parser: (
    border-color: 'color',
    background-color: 'color',
    color: 'background-inner-color'
) !default;

//Td
$td-colors-support-parser: (
    border-color: 'color',
) !default;
