$tables-colors-support-parser: (
    border-color: null,
    color: 'color'
) !default;

$tables-colors-support-extra-colors-palette: () !default;
$tables-colors-support-skip-colors-palette: null !default;

//Caption
$caption-colors-support-parser: (
    color: 'color'
) !default;

//Th
$th-colors-support-parser: (
    background: null,
    color: 'color'
) !default;

//Td
$td-colors-support-parser: (
    background: null,
    color: null
) !default;

$td-even-colors-support-parser: (
    background: null,
    color: 'color'
) !default;
